<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <title>{% block title %}QCM app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extrahead %}
    {% endblock %}
    <!-- start Mixpanel -->
    <script type="text/javascript">
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
      typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("ecbe9e44d1f61c334c9e62f43e18331d");
    </script>
    <!-- end Mixpanel -->
</head>
{% load i18n %}

 <body>
  
    {% block navigation %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                  <li><a href="{% url index %}"><i class="icon-home icon-white"></i>{% trans 'Home'%}</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url QCM_selection %}">{% trans 'New Quizz' %}</a></li>
            </ul>
            <ul class="nav pull-right">
                  <li class = "dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-user icon-white"></i>{% firstof user.first_name user.username %}
                          <b class="caret"></b>
                      </a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url user_profile %}">{% trans "My account" %}</a></li>
                              <li><a href="{% url auth_logout %}">{% trans 'Log out' %}</a></li>
                          </ul>
                  </li>
                {% endif %}
                
            </ul>
        </div>
      </div>
    </div>
    {% endblock navigation %}


    {% block messages %}
    <div id="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% endblock messages %}


    <div class="container">
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->
</body>

  <script src="{{STATIC_URL}}js/jquery.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

</html>
