{% extends "base_QCM.html" %}
{% load i18n %}
{% block content %}

<ol>
	<h5>
		{% trans 'Your grade' %} : {{grade}} / 20
	</h5>
	{% for question in question_list%}

	<h6>{{question.0}}</h6>
	{% if question.1 == question.2%}
		<div class="alert alert-success">
		{% trans 'Your answer'%} : {{question.1}}
		{% else %}
		<div class="alert alert-error">
		{% trans 'Your answer'%} : {{question.1}}</br>
		{% trans 'The correct answer was'%} : {{question.2}}
	{% endif %}
	</div>
	{% endfor %}

</ol>
{% endblock %}

