{% extends "base.html" %}
{% load i18n %}
string.uppercase[i]+
{% block content %}

<head>
  <meta charset="utf-8" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />

</head>
<body>

<ul>
	<p>
		résultat {{note_finale}} / 20
	</p>
	
	{% for l in liste%}
	<p>{{l.0}}</p>
		<p>Votre réponse : {{l.1}}</p>
		<p>La bonne réponse était : {{l.2}}</p>
	{% endfor %}


</ul>
</body>
{% endblock %}

