{% extends "base.html" %}
{% load i18n %}
string.uppercase[i]+
{% block content %}

<head>
  <meta charset="utf-8" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />

</head>
<body>

<ul>
	<p>
		résultat
	</p>
	
	{% for q in answers%}
	<p>{{q}}</p>
		{% for a in q.answers%}
			{% if a.validity %}
				<p>{{a}}</p> en vert
			{% else %}
				<p>{{a}}</p> en rouge
			{% endif %}
		{% endfor %}
	{% endfor %}


</ul>
</body>
{% endblock %}

