{% extends "base_QCM.html" %}
{% load i18n %}

{% block content %}
<img src = 'http://www.geonames.org/flags/x/ad.gif' style = "width : 30%; height : 30%" >
</br>
<img src = 'http://www.geonames.org/flags/x/ad.gif' style = "width : 30%; height : 30%" >
</br>
<img src = 'http://www.geonames.org/flags/x/ad.gif' style = "width : 30%; height : 30%" >
</br>
<img src = 'http://www.geonames.org/flags/x/ad.gif' style = "width : 30%; height : 30%" >
</br>

{% for new in news%}
          <h4>{{new.title}}</h4>
          <p>{{new.content|linebreaks}}</p>
{% endfor %}


{% endblock %}
