{% extends "base.html" %}
{% load i18n %}



{% block content %}


	<p>{% trans "Your average is"%} : {{grade}} / 20</p>

<form method="post" action=".">
	{% csrf_token %}
	{{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

<table>	
	<tr>	
		<td> {% trans "Date"%} </td>
		<td> {% trans "Level"%} </td>
		<td> {% trans "Subject"%} </td>
		<td> {% trans "Chapter"%} </td>
		<td> {% trans "Grade"%} </td>
		<td> {% trans "Detailled results"%} </td>
	</tr>
	{% for q in quizz%}
	<tr>
		<td> {{q.date_started}} </td>
		<td> {{q.level}} </td>
		<td> {{q.subject}} </td>
		<td> {{q.chapter}} </td>
		<td> {{q.grade}} </td>
		<td> 
		<form name = "results" method = "post" action = ".">
		{% csrf_token %}
			<input type = "hidden" name = "quizz_id" value = {{q.pk}} />
			<a href = "javascript: document.forms['results'].submit();"> {% trans "Results" %} </a>
		</form></td>
	</tr>
	{% endfor %}
</table>



</body>
{% endblock %}

