{% extends "base_QCM.html" %}
{% load i18n %}



{% block content %}
<h5>{% trans "Your average is"%} : {{grade}} / 20</h5>

<table class = "table table-condensed">	
	<tr>	
		<td> {% trans "Date"%} </td>
		<td> {% trans "Quizz type"%} </td>
		<td> {% trans "Grade"%} </td>
	</tr>
	{% for q in quizz%}
	{% if q.grade >= 10 %}
	<tr class = "success">
	{% else %}
	<tr class = "error">
	{% endif%}
		<td style="vertical-align:middle"> 
			{{ q.date_started|date:"d/n/y"|lower }} </br>
			{{ q.date_started|date:"H:i"|lower}}

		</td>
		<td> 
			{{q.level}}</br>
			{{q.subject}}</br>
			{{q.chapter}}</br>
		</td>
		<td style="vertical-align:middle">	
			<form style="margin-bottom: 0" name = "results" method = "post" action = ".">
			{% csrf_token %}
				<input type = "hidden" name = "quizz_id" value = {{q.pk}} />
				{% if q.finished %}
				<input class = "btn" type="submit" name= "quizz"  value="{{ q.grade }}" />
				{% else %}
				<input class = "btn" type="submit" name= "quizz"  value="{%trans "Finish"%}" />
				{% endif %}
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

<form method="post" action=".">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="{% trans 'Submit' %}" />
</form>

</body>
{% endblock %}

